<style>
  .main {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
    background-color: rgb(5, 157, 233);
    border: solid 1px black;


  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  input {
    padding: 10px;
    width: 600px;
  }

  p {
    color: red;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
</style>

  <div class="container">
    <h1> Sign up Here </h1>

    <form method="post">
      <table>
        {{!-- first name --}}
        <tr>
          <td>
            <input type="text" placeholder="firstname" name="name" value={{user.name}}>
          </td>
        </tr>

        <tr>
          <td>
            <p>{{error.name.msg}}</p>
          </td>
        </tr>

        <tr>
          <td><br></td>
        </tr>


        {{!-- last name --}}

        <tr>
          <td>
            <input type="text" placeholder="lastname" name="lname" value={{user.lname}}>
          </td>
        </tr>

        <tr>
          <td>
            <p>{{error.lname.msg}}</p>
          </td>
        </tr>

        <tr>
          <td><br></td>
        </tr>

        {{!-- email --}}

        <tr>
          <td>
            <input type="text" placeholder="email" name="email" value={{user.email}}>
          </td>
        </tr>

        <tr>
          <td>
            <p>{{error.email.msg}}</p>
          </td>
        </tr>

        <tr>
          <td><br></td>
        </tr>

        {{!-- password --}}

        <tr>
          <td>
            <input type="password" placeholder="password" name="password" autocomplete="off">
          </td>
        </tr>

        <tr>
          <td>
            <p>{{error.password.msg}}</p>
          </td>
        </tr>


        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="role" id="customer" value="customer" checked>
              <label class="form-check-label" for="customer">
                &nbsp;Customer
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="role" id="clerk" value="clerk">
              <label class="form-check-label" for="clerk">
                &nbsp;Clerk
              </label>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p>{{errormessage}}</p>
          </td>
        </tr>
      </table>

      <input type="submit" name="submit" value="Submit" class="mb-5">


    </form>

  </div>
